button {
  min-width: unset;
}

fieldset {
  border-width: 1px;
}

input[type=text] {
  border: none;
}

label,
legend {
  text-align: left;
}

.App {
  font-size: 12pt;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.display--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div--columns {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.div--columns>section {
  align-items: center;
  max-height: 100vh;
  overflow-y: auto;
}

.div--group-form {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
}

.div--group-form__row {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.div--group-form__item {
  flex-basis: calc(25% - 1em);
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  margin-right: 1em;
  min-width: 300px;
}

.div--group-form__item.width--double {
  flex-basis: calc(50% - 1em);
}

.div--group-form__item label {
  display: block;
  margin-bottom: 0.25em;
}

.flex-basis--25pct {
  flex-basis: 25%;
}

.flex-basis--75pct {
  flex-basis: 75%;
}

.justify--center {
  justify-content: center;
}

.justify--end {
  justify-content: flex-end;
}

.justify--start {
  justify-content: flex-start;
}