:root {
  --color-app-background-dark: rgb(51, 51, 51);
  --color-app-background-light: rgb(255, 255, 255);
  --color-background-green: hsla(120, 100%, 50%, 0.25);
  --color-background-red: hsla(0, 100%, 50%, 0.25);
  --color-error-background: rgb(255, 192, 192);
  --color-error-text: rgb(164, 38, 44);
}

button {
  min-width: unset;
}

fieldset {
  border-style: solid;
  border-width: 1px;
}

input[type=text] {
  border: none;
  width: 100%;
}

label,
legend {
  font-size: 11pt;
  text-align: left;
}

.alert {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  margin-bottom: 0.5em;
  padding: 0.25em;
  text-align: left;
}

.alert--danger {
  background-color: var(--color-error-background);
  border-color: var(--color-error-text);
  color: var(--color-error-text);
}

.App {
  font-size: 12pt;
  text-align: center;
}

.App.theme--dark {
  background-color: var(--color-app-background-dark);
}

.App.theme--light {
  background-color: var(--color-app-background-light);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background--green,
button.background--green {
  background-color: var(--color-background-green);
}

.background--red,
button.background--red {
  background-color: var(--color-background-red);
}

.background--redDark,
button.background--redDark {
  background-color: var(--color-error-text);
}

.background--redDark:hover,
button.background--redDark:hover {
  background-color: var(--color-error-text);
  filter: saturate(200%);
}

.border--redDark,
button.border--redDark {
  border-color: var(--color-error-text) !important;
}

.dashboard__form {
  align-items: flex-end;
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dashboard__form__header {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
}

.dashboard__list {
  flex-basis: 25%;
}

.display--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div--columns {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.div--columns>section {
  align-items: center;
  max-height: 100vh;
}

.div--group-form {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.div--group-form__row {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.div--group-form__item {
  flex-basis: calc(25% - 1em);
  flex-wrap: wrap;
  margin-bottom: 0.5em;
  margin-right: 1em;
  min-width: 300px;
}

.div--group-form__item.width--double {
  flex-basis: calc(50% - 1em);
}

.div--group-form__item label {
  display: block;
  margin-bottom: 0.25em;
}

.errorMessage {
  animation-duration: 0.367s;
  animation-fill-mode: both;
  animation-name: formField-fadeIn formField-slideDown;
  animation-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
  color: var(--color-error-text);
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 0px;
  padding-top: 5px;
  text-align: left;
}

.justify--center {
  justify-content: center;
}

.justify--end {
  justify-content: flex-end;
}

.justify--start {
  justify-content: flex-start;
}

.ms-Button--action {
  padding-left: 16px;
  padding-right: 16px;
}

.ms-Button--action:hover {
  background-color: rgb(68, 68, 68);
}

label.required:after,
legend.required:after {
  color: var(--color-error-text);
  content: "*";
  font-weight: bold;
  margin-left: 0.5em;
}