.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.div--columns {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;
}

.div--columns>section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  overflow-y: auto;
}

.flex-basis--25pct {
  flex-basis: 25%;
}

.flex-basis--75pct {
  flex-basis: 75%;
}

.justify--center {
  justify-content: center;
}

.justify--start {
  justify-content: flex-start;
}

.ms-Viewport {
  width: 100%;
}
